body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(211, 46, 46);
}

header{
    padding: 0;
    margin: 0;
    border: 0;
    padding-top: 15px;
    background-color: aliceblue;
}

nav{
    padding: 15px;
    background-color: rgb(243, 17, 17);
}
nav a{
    padding: 15px;
    background-color: rgb(243, 17, 17);
    margin-left: 15px;
    color: beige;
    text-decoration: none;
}
nav a:hover{
    background-color: rgb(224, 5, 5);
}

#tituloAI{
    margin-left: 15px;
    margin-top: 0;

}

#chatTitulo {
    margin: 15px;
}

#promptInput{
    margin-top: 20px;
    margin-left: 15px;
}

#recordBtn {
    margin-top: 20px;
    margin-left: 15px;
}

#micInfo{
    display: inline;
}

body h3{
    margin-left: 15px;
    margin-top: 20px;
}
#speechtotextStr, #AIresp {
    margin-left: 25px;
    margin-right: 25px;
    background-color: beige;
    padding: 15px;
    border-radius: 10px;
}

#alpha{
    background-color: rgb(255, 102, 0);
    padding: 30px;
}

footer{
    margin-top: 10%;
    text-align: center;
}